<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">

        <div ng-if="user.profile.profileChangeCounter==0" class="divided title">Why the application?</div>
        <p ng-if="user.profile.profileChangeCounter==0" style="text-align: center">Hey there and welcome to the application process. 
        Don't worry, it's not so much an application as <strong> more a registration</strong> form.
        However, we expect to receive more regirstations than we can accomodate, which is why - unfortunately - we will have to do 
        some selection among the participants. We are looking to admit experienced hackers as well as first-time attendees 
        to get a colorful set of attendees. This is why we ask you to fill out the motivation field if you're new to the whole hackathon business. This helps us to 
        admit the people who really want to come, instead of someone who'll take up the space and eventually not show up. 
        <br>
        <br>
        For the more experienced hackers we've provided the fields for your CV and Github / website in order to get a glimpse at just how professional you 
        are. Keep in mind that we don't want to intimidate anyone, so please, don't worry about not being good enough or not having a perfect CV. 
        <br>
        <br>
        We're looking forward to receive your application!
        </p>

        <div class="divided title">Basic Information</div>
        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Email </label>
            <input type="email" name="email" disabled="disabled" ng-model="user.email">
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text" name="name" ng-model="user.profile.name">
          </div>

          <!-- <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div> -->
          
          <div class="field">
            <label> Are you a student? </label>
            <div class="ui checkbox">
              <input type="checkbox" name="isStudent" id="isStudent" ng-model="user.profile.isStudent">
              <label for="isStudent">I am a student</label>
            </div>
          </div>

          <div class="field" ng-show="user.profile.isStudent">
            <label> School </label>
            <div id="school" class="ui search">
              <div class="ui input">
                <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">
              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="field" ng-show="user.profile.isStudent">
            <label> What are you studying? </label>
            <input type="text" name="study" placeholder="Computer Science, Product Design, Basket Weaving, etc."
              ng-model="user.profile.major">
          </div>
    
          <div class="field" ng-show="!user.profile.isStudent">
            <label> Work </label>
            <input class="ui input" name="work" placeholder="Job" ng-model="user.profile.work">
          </div>
    
          <div class="field">
            <label> Where are you from? </label>
            <input class="ui input" name="location" placeholder="City, Country" ng-model="user.profile.location">
          </div>

          <div class="field">
            <label>Gender</label>
            <select name="gender" ng-model="user.profile.gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
              <option value="N">I prefer not to answer.</option>
            </select>
          </div>

          <div class="field">
            <label>How would you describe your experience as a hacker</label>
            <select name="experience" ng-model="user.profile.experience">
              <option value="">Experience</option>
              <option value="S">I'm a beginner hacker.</option>
              <option value="M">I'm a moderately experienced Hacker.</option>
              <option value="L">Hack guru, i have loads of experience!</option>
            </select>
          </div>

          <div class="field">
            <label>I would describe myself as a...</label>
            <input type="text" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
              ng-model="user.profile.description">
          </div>

          <div class="field">
            <label>
              What would you like to learn or get out of Hacktival? (optional)
            </label>
            <p>
              While this field is <strong>optional</strong>, we strongly recommend applicants, especially those who are
              not as experienced and therefore don't have a resume / github link
              / website link to share (under 'Skills and Accomplishments'), to give a proper answer here. By no means do
              we only accept super
              experienced applicants, but this information greatly helps our team with
              the applicant selection process!
            </p>
            <textarea ng-model="user.profile.essay">
          </textarea>
          </div>

          <div class="divided title" style="margin-top: 48px"> Skills & Accomplishments </div>

          <p>
            Both of these fields are <strong>optional</strong>, but a strong resume or cool github repository won't hurt!
          </p>
          <div class="field">
            <label> Github </label>
            <input type="text" name="github" placeholder="https://github.com/foobar"
              ng-model="user.profile.github">
          </div>

          <div class="field">
            <label> Skill Sheet </label>
          <input type="file" id="file" name="file"/>
          <button class="ui red button" ng-click="uploadFile()" style="margin-top: 12px">Upload File</button>
          <p>Max. 10 MB. You're files are safe and sound on our own storage space and will not be shared with any partner or company.</p>
          </div>

          <div class="field" ng-hide="isMitStudent" style="margin-top: 48px">
            <p>
              Because of limitations regarding event hosting in Germany, we are not legally allowed to host minors
              (those under 18) for Hacktival 2019 without extra documents.
              Checking the box below affirms that you are or will be 18 years or older by May 11th, 2019.
              Otherwise refer to our support <a href="mailto:info@hackundsoehne.de">email</a> for more information.
            </p>
            <p>
              <strong>
                We will be checking ID. If you are a minor (without any prior mention and extra documents), you will be
                turned away at the door.
              </strong>
            </p>
            <div class="ui checkbox">
              <input type="checkbox" id="adult" ng-model="user.profile.adult">
              <label for="adult">I am 18 or older.</label>
            </div>
          </div>

          <br>

          <div class="field" ng-hide="regIsClosed" style="background-color: #0fbc00; color: white">
            <button type="submit" class="fluid ui hsred button" style="background-color: #0fbc00; color: white" ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>